.main{
  max-width: calc(100vw - 245px) ;
  height: calc(100vh - 80px);
  column-gap: 15px;
  background-color:white;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0 .4rem .8rem gray;
}

.schedule-header{
  flex: 0 1 auto;
  padding: 1rem;
  font-weight: 700;
}

.schedule{
  flex: 1 1 auto;

  width: 97%;
  max-height: 91%;

  margin: .2rem auto;
  border-radius: .6rem;

}

.schedule-table{
  background-color: white;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
}

thead th{
  position: sticky;
  top: 0;
  background-color: #616060;
  color: white;
}

table{
  width: 100%;
  min-height: 100%;
}

tbody tr:nth-child(even){
  background-color: #D9D9D9;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

table tr th:nth-child(1){
  width: 250px;
}

.schedule-button{
  flex: 0 1 5vh;
  display: flex;
  justify-content: end;
}

.edit-button, .save-button{
  padding: 1vh 4vh;
  margin: 15px 25px 13px 0;
  font-weight: 700;
  font-size: 25px;
  background-color: #616060;
  color: white;
  border: none;
  border-radius: 8px;
}


